# Stemming
Menjadikan kata yang memiliki imbuhan menjadi kata dasar

## Import module / package

In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize.treebank import TreebankWordDetokenizer
from tqdm.notebook import tqdm
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [2]:
dataset = pd.read_csv("data/tweets_clean.csv")
dataset.head(10)

                                               tweet
0  ['jbharga', 'ayam', 'rm', 'tgk', 'telor', 'wya...
1  ['diri di atas kaki sendiri', 'serap', 'telur'...
2  ['sebab', 'harga', 'telur', 'anjlok', 'versi',...
3  ['turun', 'minta', 'masyarakat', 'telur', 'aya...
4  ['ternak', 'ayam', 'telur', 'aku', 'rugi', 'ra...
5  ['harga', 'jual', 'telur', 'ayam', 'solo', 'ra...
6  ['harga', 'telur', 'anjlok', 'rp', 'kg', 'peri...
7  ['ikut', 'main', 'telur', 'bareng', 'voucher',...
8  ['telor', 'geprek', 'abah', 'uya', 'selera', '...
9  ['beli', 'order', 'telur', 'set', 'telur', 'mc...

In [3]:
temp_detokenize = []

def detokenize(text):
    text1 = text.replace(']','').replace('[','')
    arr = text1.replace('"','').replace("\'","").split(",")
    return(TreebankWordDetokenizer().detokenize(arr))

dataset['tweet'] = dataset['tweet'].astype('U').apply(detokenize)

In [4]:
nltk.download('punkt')
def word_tokenize_wrapper(text):
    return word_tokenize(text)

dataset['tweet'] = dataset['tweet'].apply(word_tokenize_wrapper)
dataset['tweet']

[nltk_data] Downloading package punkt to /home/anz007/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0       [jbharga, ayam, rm, tgk, telor, wyam, papan, r...
1       [diri, di, atas, kaki, sendiri, serap, telur, ...
2       [sebab, harga, telur, anjlok, versi, dagang, k...
3       [turun, minta, masyarakat, telur, ayam, ppkm, ...
4       [ternak, ayam, telur, aku, rugi, ratus, juta, ...
                              ...
4381    [benda, bodoh, dengar, harini, beli, lunch, na...
4382    [komoditi, alami, turun, harga, daging, ayam, ...
4383    [qiraniayr, harga, telor, turun, harga, minyak...
4384    [nak, tolong, niaga, melayu, roti, telur, harg...
4385    [rep, kilo, butir, harga, ribu, papan, telur, ...
Name: tweet, Length: 4386, dtype: object

Library Sastrawi _(Algoritma Nazief)_

In [5]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()

tqdm.pandas()
dataset['tweet'] = dataset['tweet'].progress_apply(lambda x: [stemmer.stem(y) for y in x])
dataset

  0%|          | 0/4386 [00:00<?, ?it/s]

                                                  tweet
0     [jbharga, ayam, rm, tgk, telor, wyam, papan, r...
1     [diri, di, atas, kaki, sendiri, serap, telur, ...
2     [sebab, harga, telur, anjlok, versi, dagang, k...
3     [turun, minta, masyarakat, telur, ayam, ppkm, ...
4     [ternak, ayam, telur, aku, rugi, ratus, juta, ...
...                                                 ...
4381  [benda, bodoh, dengar, harini, beli, lunch, na...
4382  [komoditi, alami, turun, harga, daging, ayam, ...
4383  [qiraniayr, harga, telor, turun, harga, minyak...
4384  [nak, tolong, niaga, melayu, roti, telur, harg...
4385  [rep, kilo, butir, harga, ribu, papan, telur, ...

[4386 rows x 1 columns]