In [2]:
import pandas as pd
from nltk.tokenize.treebank import TreebankWordDetokenizer

In [2]:
df = pd.read_csv("data/tweets_sastrawi.csv")
df

                                                  tweet
0     ['jbharga', 'ayam', 'rm', 'tgk', 'telor', 'wya...
1     ['diri', 'di', 'atas', 'kaki', 'sendiri', 'ser...
2     ['sebab', 'harga', 'telur', 'anjlok', 'versi',...
3     ['turun', 'minta', 'masyarakat', 'telur', 'aya...
4     ['ternak', 'ayam', 'telur', 'aku', 'rugi', 'ra...
...                                                 ...
2874  ['blitar', 'harga', 'telur', 'ayam', 'anjlok',...
2875  ['titip', 'sendal', 'baca', 'artikel', 'nasi',...
2876  ['suka', 'mooncake', 'isi', 'telur', 'daerah',...
2877  ['harga', 'telur', 'anjlok', 'ternak', 'jateng...
2878  ['harga', 'telur', 'ayam', 'anjlok', 'ternak',...

[2879 rows x 1 columns]

In [4]:
import pandas as pd
df2 = pd.read_csv("data/tweets_labelled_sastrawi.csv")
print("Positif :",len(df2[df2.polaritas>0]), " tweet")
print("Netral :",len(df2[df2.polaritas==0]), " tweet")
print("Negatif :",len(df2[df2.polaritas<0]), " tweet")

Positif : 2076  tweet
Netral : 137  tweet
Negatif : 666  tweet

In [4]:
# temp_detokenize = []

# def detokenize(text):
#     text1 = text.replace(']','').replace('[','')
#     arr = text1.replace('"','').replace("\'","").split(",")
#     return(TreebankWordDetokenizer().detokenize(arr))

# df['tweet'] = df['tweet'].astype('U').apply(detokenize)

In [5]:
# df.to_csv("data/tweets_untokenized_sastrawi.csv", index=False)